.advantage__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #110303;
}

.advantage__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.advantage__item {
    flex-basis: 290px;
    min-height: 61px;
    font-size: 14px;
    line-height: 20px;
    background-position: left;
    background-size: 61px;
    padding: 10px 10px 10px 81px;
}

.advantage__item_stack {
    background-image: url("../img/stack.svg");
    background-repeat: no-repeat;
}

.advantage__item_mockup {
    background-image: url("../img/mockup.svg");
    background-repeat: no-repeat;
}

.advantage__item_inclusive {
    background-image: url("../img/inclusive.svg");
    background-repeat: no-repeat;
}

.advantage__item_adaptiv {
    background-image: url("../img/adaptiv.svg");
    background-repeat: no-repeat;
}

.advantage__item_clean {
    background-image: url("../img/clean.svg");
    background-repeat: no-repeat;
}

.advantage__item_copyright {
    background-image: url("../img/copyright.svg");
    background-repeat: no-repeat;
    
}

@media (min-width: 480px) {
    .advantage__title {
        font-size: 40px;
    }

    .advantage__list {
        gap: 40px;
    }

    .advantage__item  {
        font-size: 16px;
    }
}

@media (min-width: 768px) {
    .advantage__title{
        margin-bottom: 50px;
    }

    .advantage__list {
        justify-content: space-between;
        gap: 80px;
    }
}

@media (min-width: 1440px) {
    .advantage__title {
        font-size: 50px;
        margin-bottom: 80px;
    }

    .advantage__list {
        gap: 100px;
    }

    .advantage__item {
        font-size: 18px;
        line-height: 25px;
    }
}